<style>
html, body {
    background-color: #eee;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}
h1 {
    display: block;
    padding: 1em;
    margin: 0;
}
form {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}
label {
    display: inline-block;
    border: 1px solid #777;
    color: #555;
    padding: 1em 2em;
    cursor: pointer;
}
.uploading label {
    display: none;
}
input[type="file"] {
    display: none;
}
#progress {
    display: none;
}
.uploading #progress {
    display: block;
}
#percent {
    font-size: 5em;
    color: #aaa;
}
.dragover {
    opacity: 0.5;
}
</style>

<script>

function fileSelected() {
    var file = $('input[type="file"]').get(0).files[0];
    upload(file);
}

function upload(file) {
    if (!file || file.name.split(".").pop() != "stl") {
        alert("Invalid file!");
        return;
    }
    var fd = new FormData();
    fd.append("model", file);

    $('#upload').addClass('uploading');
    $.ajax({
        url: '/upload',
        type: 'POST',
        xhr: () => {
            var xhr = $.ajaxSettings.xhr();
            if (xhr.upload) {
                xhr.upload.addEventListener('progress', (evt) => {
                    var percent = Math.round((evt.loaded / evt.total) * 100);
                    $('#percent').text(percent + '%');
                    console.log(evt.loaded + "/" + evt.total);
                }, false);
            }
            return xhr;
        },
        success: (data) => {
            console.log(data);
        },
        error: (evt) => {
            alert('Upload error!');
            $('#upload').removeClass('uploading');
            console.log(evt);
        },
        data: fd,
        cache: false,
        contentType: false,
        processData: false
    }, 'json');
}

$('body').on('dragover dragenter', (e) => {
    e.preventDefault();
    $(e.target).addClass("dragover");
});

$('body').on('dragleave dragend drop', (e) => {
    $(e.target).removeClass("dragover");
});

$('body').on('drop', (e) => {
    e.preventDefault();
    var file = e.originalEvent.dataTransfer.files[0];
    console.log(file);
    upload(file);
});

</script>

<form id="upload" enctype="multipart/form-data" action="/upload" method="post">
    <label>
        <input type="file" id="model" name="model" onchange="fileSelected();" />
        Upload STL
    </label>
    <div id="progress">
        <span id="percent">0%</span>
    </div>
</form>
