<table>
    {{#each models}}
        <tr>
            <td>{{original_filename}}</td>
            <td><a href="{{info_url}}">{{formatted_name}}</a></td>
            <td>{{views}}</td>
        </tr>
    {{/each}}
</table>
