<main id="list">
    {{#each models}}
        <div class="row"><!--
            --><div class="views">{{views}}</div><!--
            --><div class="date">{{formatted_name}}</div><!--
            --><a href="{{info_url}}"><div class="name">{{original_filename}}</a></div><!--
        --></div>
    {{/each}}
</main>
