<table>
    {{#each models}}
        <tr>
            <td><iframe src="{{viewer_url}}"></iframe></td>
            <td><a href="{{viewer_url}}">{{name}}</a></td>
            <td>{{views}}</td>
        </tr>
    {{/each}}
</table>
