<script>
function upload(file) {
    if (!file || file.name.split(".").pop() != "stl") {
        alert("Invalid file!");
        return;
    }
    var fd = new FormData();
    fd.append("model", file);

    $('#upload').addClass('upload_started');
    $.ajax({
        url: '/upload',
        type: 'POST',
        xhr: () => {
            var xhr = $.ajaxSettings.xhr();
            if (xhr.upload) {
                xhr.upload.onprogress = (evt) => {
                    var percent = Math.round((evt.loaded / evt.total) * 100);
                    $('#percent').text(percent + '%');
                    console.log(evt.loaded + "/" + evt.total);
                };
            }
            return xhr;
        },
        success: (data) => {
            window.location = data.info_url;
        },
        error: (evt) => {
            alert('Upload error!');
            $('#upload').removeClass('upload_started');
            console.error(evt);
        },
        data: fd,
        cache: false,
        contentType: false,
        processData: false
    }, 'json');
}

$('body').on('dragover dragenter', (e) => {
    e.preventDefault();
    $(e.target).addClass("dragover");
});

$('body').on('dragleave dragend drop', (e) => {
    $(e.target).removeClass("dragover");
});

$('body').on('drop', (e) => {
    e.preventDefault();

    if ($('#upload').is('.upload_started')) {
        return;
    }

    var file = e.originalEvent.dataTransfer.files[0];
    upload(file);
});
</script>

<form id="upload" enctype="multipart/form-data" action="/upload" method="post">
    <label>
        <input type="file" id="model" name="model" onchange="upload(this.files[0]);" />
        Upload STL (&lt; {{size_limit}}MB)
    </label>
    <div id="note">or <strong>drag & drop</strong></div>
    <div id="progress">
        <span id="percent">0%</span>
    </div>
</form>
