html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

canvas {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s;
}

.loaded canvas {
    opacity: 1;
}

@keyframes pulse {
    0%   {opacity: 1;}
    50%  {opacity: 0.625;}
}

#percent {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 5em;
    text-align: center;
    width: 100%;
    color: #ccc;
    animation-name: pulse;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
